* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 1.3fr 1fr;  
}

body > div {
  height: 100%;
}

html, body {
  min-height: 100vh;
}

.player-profile {
  background-color: coral;
  grid-row: 1 / -1;
}

.round-board {
  background-color: blueviolet;
}

.game-board {
  background-color: slategray;
}

.computer-profile {
  background-color: plum;
  grid-row: 1 / -1;
  grid-column: 3;
}

.grid {
  display: grid;
  gap: 1vw;
  grid-template: repeat(3, 10vw) / repeat(3, 10vw);
  justify-content: center;
  margin-top: 60px;
}

.cell {
  background-color: khaki;
  border: 50px solid #000;
  border-radius: 90px;
  height: 100%;
}