@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kaushan+Script&family=Sedgwick+Ave+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 1.3fr 1fr;  
  font-size: 2.5rem;
  font-family: 'Sedgwick Ave Display', cursive;
}

body > div {
  height: 100%;
}

html, body {
  min-height: 100vh;
}

.player-profile {
  background-color: coral;
  grid-row: 1 / -1;
}

.round-board {
  align-items: center;
  background-color: blueviolet;
  display: flex;
  font-size: 3rem;
  justify-content: center;
}

.game-board {
  background-color: slategray;
}

.computer-profile {
  background-color: plum;
  grid-row: 1 / -1;
  grid-column: 3;
}

.grid {
  display: grid;
  gap: 1vw;
  grid-template: repeat(3, 8vw) / repeat(3, 8vw);
  justify-content: center;
  margin-top: 20px;
}

.cell {
  background-color: khaki;
  border: 10px solid #000;
  border-radius: 25px;
  height: 100%;
}

.player-profile > div,
.computer-profile > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.computer-profile,
.player-profile {
  align-items: center;
  display: flex;
  justify-content: center;
}

img {
  width: 25vw;
}